<div class="about">
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
   <body>
      <h2 style="text-align:center;">  YOUR-TO airbnb </h2>

       <h1 style="text-align:center;">
         <p style="text-align:center;"> Developed using machine learning,
         Your-TO airbnb allows you to easily find the perfect Toronto Airbnb that
          satisfies your personal taste. Features include:
         <li style="margin-top: 35px;"> Find <b>best finds</b> based on
           YOUR-TO airbnb's pricing algorithm - it compares similar listings
           and identifies the <b>underpriced</b> ones.
         <li style="margin-top: 15px;"> Want a modern apartment or
           a clean aesthetic one? No need to waste time reading through airbnb's
           long descriptions. Filter listings for <b>your personal
           preferences</b>.
         <li style="margin-top: 15px;"> Understand a listings
           <b>surroundings</b>. Is the listing close to
           metro and/or grocery? Do you want to avoid noise?
           </p>

           <p style="text-align:center; margin-top: 70px;">Make Your Toronto Trips Easier </p>
       </h1>

        <footer id="footer">
          <span class="copyright">
            By Zahra Kharal
          </span>


        </footer>

   </body>
</div>
