<div class="home" >
  <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
   <body>
      <h2 style="text-align:center;">  where-TO-stay </h2>

       <h3 style="text-align:center;">  Find the perfect Toronto Airbnb for YOUR taste. </h3>

        <div style="text-align:center;">
            <a href="about" class="button">ABOUT</a>
            <a href="app" class="button">APP</a>
        </div>

        <!-- <embed src="airbnBoost_tutorial.mp4" width="300" height="300"> -->

        <div style="text-align:center; margin-top: 35px;" >
          <iframe width="560" height="315"
          src="  "
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        </div>



        <footer id="footer">
          <span class="copyright">
            Zahra Kharal (2019)
          </span>


        </footer>

   </body>
</div>
